<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 style="position: absolute;width: 602px;height: 57px;left: 68px;top: 30px;">Live Streaming</h3>
            <img style="position: absolute;width: 766px;height: 430px;left: 69px;top: 97px;" src="{{ url_for('video_feed') }}" width="100%">
            <h3 style="position: absolute;width: 602px;height: 57px;left: 882px;top: 97px;">{{namess}}</h3>
        </div>
    </div>
</div>
</body>
</html>







<!--<body>-->
<!--    <div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-8  offset-lg-2">-->
<!--            <h3 class="mt-5">Live Streaming</h3>-->
<!--            <img src="{{ url_for('video_feed') }}" width="100%">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->


